body {
    width: 960px;
    margin: 0 auto;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/floor-tile.png);
    min-height: 400px;
    margin-bottom: 100px;
    clear: both; 
}

@media (max-width: 768px) {
    body {
        width: 99%;
        font-size: 2rem;
    }
}

footer {
    text-align: center;
    background-color: #666666;
    width: 100%;
    border-top: solid 5px #4aaaa5;
    margin: 0;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 0;
    color: #cccccc;
}

h1 {
    color: #4aaaa5;
    padding: 5px;
}

img {
    width: 90%;
    margin: 20px;
}

.myName {
    background: #4aaaa5;
    padding: 20px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 2em;    
}

.navbar {
    padding: 0;
    margin-bottom: 20px;
    border-bottom: solid 1px #cccccc;
}

.bgNavbar {
    background-color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #777777;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #777777;
}

.pageText {
    background-color: #ffffff;
    border: solid 1px #dddddd;
    padding: 20px;
}

.navbarFull {
    background-color: #ffffff;
    width: 100%;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }

  .imageText {
      position: relative;
      text-align: center;
      color: white;
  }

  .centered {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #4aaaa5;
      width: 200px;
      padding: 10px 0;
  }

  .navbar-toggler {
      width: 100px;
      height: 100px;
      background-color: #4aaaa5;
      margin: 0;
      padding: 0;
  }